# Backend
GEMINI_API_KEY=AIzaSyCy-fveLwY9_iOJFHiZnRuK_LRYXTM2hI0
DEEPGRAM_API_KEY=03d4d7715d15e2f8bb2ac0a140f2fccdb7c53ee2
PORT=5000
CORS_ORIGINS=http://localhost:3000,https://your-frontend-domain.vercel.app

# Frontend (Next.js)
NEXT_PUBLIC_API_URL=https://deceptra.onrender.com
